<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aos.BtSound"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name="com.aos.BtSound.VoiceCellApplication"
        android:theme="@android:style/Theme.Holo.Light"
        android:allowBackup="true">

        <activity android:name="com.aos.BtSound.SlashActivity"
                  android:icon="@mipmap/ic_launcher"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
                  android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.aos.BtSound.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">

        </activity>

    </application>

</manifest>